@model IEnumerable<Queue.Models.QueryView>
@{
    ViewBag.Title = "Клиент";
}

<meta http-equiv="Refresh" content="5" />
<h2>Клиент</h2>

<div class="row">
    @if (!ViewBag.IsInQueue)
    {
        if(ViewBag.IsProcessing)
        {
            <div class="col-md-12" style="background-color:lightblue;">
             @{
             Html.RenderAction("QueueInfo", "Client");
            }
            </div>
        }
        else
        {
            <h1>Вас приняли. Проходите!</h1>
        }
    }
    else
    {
        <div class="col-md-12 text-center" style="background-color:lightblue;">
            @{
        Html.RenderAction("QueryPartial", "Client");
            }
        </div>
    }
</div>