@model IEnumerable<Queue.Models.QueryView>
@{
    ViewBag.Title = "Index";
}

<h2>Client</h2>

<div class="row">
    @if (!ViewBag.IsInQueue)
    {
    <div class="col-md-12" style="background-color:lightblue;">
        @{
        Html.RenderAction("QueueInfo", "Client");
        }
    </div>
    }
    else
    {
        <div class="col-md-12 text-center" style="background-color:lightblue;">
            @{
        Html.RenderAction("QueryPartial", "Client");
            }
        </div>
    }
</div>