@model Queue.Models.QueueView

<p>Ваш запрос по теме @Model.Name находится в очереди</p>
<p>Позиция в очереди @Model.Position</p>
<p>Время ожидания @Model.WaitingTime минут</p>
<p>Ожидайте ответа оператора!</p>
<p>@Html.ActionLink("Покинуть очередь", "LeaveQueue", "Client")</p>

