@model Queue.Models.ClientView

@if (User.IsInRole("Expert"))
{
    <p>Отправить вне очереди</p>
    Html.RenderAction("SubQueryPartial", "Expert");
    <div class="row">
        <div class="col-md-12 text-center">
            @Html.ActionLink("Закончить разговор", "EndDialog", "Expert", new { EID = Model.ID_expert, UID = Model.ID_client }, null)
        </div>
    </div>
}
