@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Электронная очередь</h1>
    <p class="lead">Описание проекта</p>
    Регистрация для экспертов -> @Html.ActionLink("Регистрация", "RegisterExpert", "Account")
</div>